.battle{
    display: none;
    justify-content: center;
    gap: 8em;
    height: 23em;
    margin-top: 5.5em;
    opacity: 0;
    transition: opacity .5s, gap 1s;
}

.battle img{
    display: none;
    width: 4em;
}

.pick-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pick-container p{
    margin-bottom: 3em;
    text-align: center;
    font-size: 1.8em;
    color: white;
}

.player, .robot{
    font-size: 1.7em;
    cursor: default;
}

.player{
    transform: translateX(-50vw) rotate(-180deg);
}

.robot{
    transform: translateX(50vw);
}
.appear-p, .appear-r{
    transition: transform 1.5s;
    transition-timing-function: cubic-bezier(.78,.01,.67,1);
}

.appear-p, .appear-r{
    transform: translateX(0) rotate(0);
}

.appear-r{
    transition: transform .2s !important;
    transition-timing-function: none !important;
}

.tremble{
    animation: tremble .1s infinite;
    animation-delay: .15s;
}

@keyframes tremble {
    0% { transform: rotate(1deg); }
    50% { transform: rotate(-1deg); }
    100% { transform: rotate(1deg); }
}

.end-game{
    display: none;
    position: absolute;
    align-self: center;
    margin-bottom: -4em;
    text-align: center;
    opacity: 0;
    transition: opacity 1s;
    z-index: 1;
}

.end-game p{
    font-size: 3.8em;
    color: white;
}

.end-game button{
    padding: .7em 4em;
    border: none;
    border-radius: .3em;
    font-weight: 700;
    color: hsl(214, 47%, 23%);
    background-color: white;
    cursor: pointer;
    scale: 100%;
    transition: scale .2s;
}

.end-game button:hover{
    scale: 110%;
}

.wave-back{
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 100vw;
    z-index: -1;
    animation: waveboom 3s infinite linear;
}

.wave-back::before, .wave-back::after{
    content: "";
    position: absolute;
    border-radius: 100vw;
    opacity: 1;
    animation: waveboom 3s infinite linear;
    animation-delay: 1s;
}

.wave-back::after{
    animation-delay: 2s;
}

@keyframes waveboom {
    from { width: 10em; height: 10em; background-color: rgba(200, 200, 200, 0.05);}
    to { width: 30em; height: 30em; background-color: rgba(200, 200, 200, 0);}
}